.slick-slideshow {
    overflow: hidden;
    .item {
        width: 100vw;
        height: 100vh;
        
        .overlay-div {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 1;
            background: linear-gradient(to bottom, transparent 75%, black 100%);
            .title-container{
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
                bottom: 4.5rem;
                z-index: 99;
                @media (min-width: 1024px){
                    text-align: left;
                    bottom: 2rem;
                }
                .title{
                    @media (min-width: 1024px){
                        max-width: 40%;
                    }
                }
            }
        }
        
        video {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            filter: saturate(100%);
            transition: opacity .2s;
            opacity: 1;
            width: 100vw;
            height: 100%;
            object-fit: cover;
            transition-delay: 1s;
        }
        
        .stretched-link:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            content: "";
        }
    }
   .slick-dots {
        position: absolute;
        left: 50%;
        bottom: 43px;
        transform: translate3d(-50%,0,0);
        z-index: 200;
        width: 300px;
        max-width: 100%;
        svg.spinner {
            x: 0px;
            y: 0px;
            .outer {
                fill: transparent;
                stroke: #fff;
                stroke-width: 3;
                stroke-linecap: round;
                stroke-dasharray: 125.6;
                transform-origin: 20px 20px 0;
                transform: rotate(-90deg);
                opacity: 0;
                transition: opacity .4s linear;
               
            }
             .inner {
                stroke: transparent;
                fill: #fff;
            }
        }
        li{
            &.slick-active .outer {
                opacity: 1;
                transition: opacity .4s linear;
                animation: spinner var(--duration) linear 1;
            }
        }
    }
}
@keyframes spinner {
    0% {
      stroke-dashoffset: 125.6;
    }
  
    to {
      stroke-dashoffset: 0;
    }
  }
  .arrow {
    background: rgba(255,255,255,.25);
    width: 40px;
    height: 80px;
    border-radius: 100px;
    position: absolute;
    top: calc(50% - 50px);
    z-index: 1;
    right: 1.5rem;
    cursor: pointer;
    @media (min-width: 1024px){
        right: 3.5rem;
    }
    @media (min-width: 768px){
        right: 2rem;
    }
    &:before,&:after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        bottom: 4px;
    }
    &:before {
        width: 2px;
        height: 35px;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        background: white;
    }
    &:after {
        width: 8px;
        height: 8px;
        border-bottom: 2px solid;
        border-left: 2px solid;
        top: 50px;
        left: 17px;
        transform: rotate(-45deg);
        border-color: #fff;
    }
    &:hover {
        background: rgba(255,255,255,.4);
        transition: all .3s ease-in-out;
    }
}
.news-home-item {
    overflow: hidden;
    position: relative;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;position: relative
}
@media (min-width: 1024px){
    .news-home-item {
            height: 335px;
    }
}